# Trust local connections

local	all		all				trust
host	all		all		::1/128		trust
host	all		all		127.0.0.1/32	trust

# Allow GSSAPI authentication over SSL

hostssl	all		all		::/0		gss include_realm=0 krb_realm="{{ kerberos_realm }}"
hostssl	all		all		0.0.0.0/0	gss include_realm=0 krb_realm="{{ kerberos_realm }}"

# Allow certificate authentication over SSL

hostssl	all		all		::/0		cert
hostssl all		all		0.0.0.0/0	cert
