com.sun.security.jgss.krb5.accept {
  com.sun.security.auth.module.Krb5LoginModule REQUIRED
    useKeyTab = true
    keyTab = "{{ tomcat_keytab }}"
    storeKey = true
    principal = "{{ tomcat_principal }}";
};
com.sun.security.jgss.krb5.initiate {
  com.sun.security.auth.module.Krb5LoginModule REQUIRED
    useKeyTab = true
    keyTab = "{{ tomcat_keytab }}"
    storeKey = true
    principal = "{{ tomcat_principal }}";
};
{% if 'wiki' in group_names %}
public_wiki {
  com.sun.security.auth.module.Krb5LoginModule REQUIRED
    useKeyTab = true
    keyTab = "{{ tomcat_keytab }}"
    principal = "{{ public_wiki_principal }}"
    storeKey = true
    doNotPrompt = true;
};
private_wiki {
  com.sun.security.auth.module.Krb5LoginModule REQUIRED
    useKeyTab = true
    keyTab = "{{ tomcat_keytab }}"
    principal = "{{ private_wiki_principal }}"
    storeKey = true
    doNotPrompt = true;
};
{% endif %}
{% if 'artifacts' in group_names %}
artifactory {
  com.sun.security.auth.module.Krb5LoginModule REQUIRED
    useKeyTab = true
    keyTab = "{{ tomcat_keytab }}"
    principal = "{{ artifactory_principal }}"
    storeKey = true
    doNotPrompt = true;
};
{% endif %}
{% if 'scm' in group_names %}
gitbucket {
  com.sun.security.auth.module.Krb5LoginModule REQUIRED
    useKeyTab = true
    keyTab = "{{ tomcat_keytab }}"
    principal = "{{ gitbucket_principal }}"
    storeKey = true
    doNotPrompt = true;
};
{% endif %}

