uid             nslcd
gid             nslcd
uri             {{ ldap_server_uri }}
ldap_version    3
scope           one
tls_reqcert     hard
tls_cacertfile  {{ ssl_ca_cert }}
tls_cert        {{ nslcd_cert }}
tls_key         {{ nslcd_key }}
#tls_ciphers	{{ openssl_ciphers }}
sasl_mech       GSSAPI
sasl_realm      {{ kerberos_realm }}
base            {{ ldap_base_dn }}
base passwd     {{ ldap_users_dn }}
base group      {{ ldap_groups_dn }}
base hosts      {{ ldap_hosts_dn }}
base ethers     {{ ldap_hosts_dn }}
