<?xml version="1.0" encoding="UTF-8"?>
<Context path="/access">
  <Parameter name="jfrog.access.home" value="{{ access_home }}" override="false"/>
  <Parameter name="artifactory.home" value="{{ artifactory_home }}" override="false"/>
</Context>

