<?xml version="1.0" encoding="UTF-8"?>
<Context docBase="{{ jenkins_war_deploy }}">
  <Environment name="JENKINS_HOME" value="{{ jenkins_home }}"
               type="java.lang.String" override="false"/>
</Context>